.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create 2 columns of equal width */
    gap: 10px; /* Space between the boxes */
    width: 100%; 
    margin: auto; 
    height: 100%;
    
}
.container-mid {
    display: flex;
    align-items: center;
    height: 75%;
    max-width: 1000px;
    width: 100%;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.box {
display: flex;
justify-content: center;
align-items: center;
color: black;
font-size: 20px;
}
.resource{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.response-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    height: 100px;
    width: 400px;
    background-color: rgba(159, 203, 240, 0.4);
}
.response {
    font-size: 18px;
    line-height: 1.6;
    font-weight: normal;
    color: #333; /* Color of the text */
    margin-left: 20px;
}

.response strong {
    /* font-size: 20px; */
    font-weight: bold;
}

.scale, .sentiment {
    font-size: 16px;
    margin-left: 10px;
    display: block;
}
  
  
  .another{
    top:100px;
    height: 200px;
  }
  

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}