<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reflection</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <div class="container">
        <div id="text">
            On a scale of 1-10, what is your sense of urgency to take action to mitigate the environmental and climate crisis?
        </div>

        <div id="option-buttons" class="btngrid">
            <button class="bttn">1</button>
            <button class="bttn">2</button>
            <button class="bttn">3</button>
            <button class="bttn">4</button>
            <button class="bttn">5</button>
            <button class="bttn">6</button>
            <button class="bttn">7</button>
            <button class="bttn">8</button>
            <button class="bttn">9</button>
            <button class="bttn">10</button>
        </div>


        <form action="/rank-concerns" method="GET">
            <input type="hidden" name="county" value="<%= encodeURIComponent(county) %>">
            <input type="hidden" name="year" value="<%= encodeURIComponent(selectedYear) %>">
            <button type="submit" class="bttn">Next</button>
        </form>

    </div>
</body>
</html>